body {
  font-family: 'Inconsolata', Impact;
  background-color: rgba(27, 33, 39, 1);
}

/* Contenedor de Botones */
.container {
  max-width: 1000px;
  height: 40vh;

  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  color: lightblue;
  margin: 0 auto;
  border: 2px solid red;
}